<div class="section section-gray section-clients">
    <div class="container text-center">
        <h4 class="header-text">Free Advertising Worldwide</h4>
        <p>
            Would you like to post your Ads immediatly in the most important cities in the world?
            Have you Startup, Band or Art advertised in NewYork, LosAngeles, London, Berlin, Madrid, Sydney, Shangai, Tokyo, Rome, Dubai and many other places
        </p>
        <div class="logos">
            <ul class="list-unstyled">
                <li ><%= image_tag("adobe.png") %></li>
                <li ><%= image_tag("zendesk.png") %></li>
                <li ><%= image_tag("ebay.png") %></li>
                <li ><%= image_tag("evernote.png") %></li>
                <li ><%= image_tag("airbnb.png") %></li>
                <li ><%= image_tag("zappos.png") %></li>
            </ul>
        </div>
    </div>
</div>