<% i = 0 %>

<%= @partial_visits.each_pair do |company_id, visits| %>
	<% unless visits == 0 %>
		<p><%= Company.find(company_id).name %></p>
		<div class="container">
		  <% visits_perc = (visits/@total_visits)*100 %>
		  <div class="<%= @style[i] %>" style="width:<%= visits_perc %>%;">
		  	<%= visits %>	
		  </div>
		  <% binding.pry %>
		</div>
		<% i += 1 %>
	<% end %>
<% end %>