<% title "Edit Run" %>
<%= render "shared/partials/formheader" %>
        <div class="content">
            <%= simple_form_for @run do |f| %>
              <%= f.association :campaign %>
              <%= f.input :runprintnumber %>
              <%= f.input :ownads %>
              <%= link_to "Back", runs_path, class: "btn btn-primary btn-fill pull-left", method: :get %>
              <%= f.button :submit, class: "btn btn-info btn-fill pull-right" %>
              <div class="clearfix"></div>
            <% end %>
        </div>
<%= render partial: "shared/partials/formfooter" %>
