<% if flash[:warning_run] %>
    <div class="alert alert-warning">
      <strong>Oh snap!</strong> <%= flash[:warning_run] %>
    </div>               
<% end %>  

<% if @runs.length > 0 %>
<% header("runs#index","Print List") %>
<%= render "shared/partials/formheader" %>
<div class="header">
    <h4 class="title"><%= yield(:runs_index) %></h4>
</div>            
<div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
        <thead class="row">
          <th class="col-xs-3 col-md-1">Status</th>
          <th class="hidden-xs">Campaign</th>
          <th class="hidden-xs">Number of Ads</th>
          <th class="hidden-xs hidden-sm">Status</th>
          <th class="options col-xs-9 col-sm-3 col-md-2">Options</th>
        </thead>
        <tbody class="row">
            <% @runs.each do |run| %>
            <tr>
              <td class="col-xs-3 col-md-1"><%= run.status %></td>
              <td class="hidden-xs"><%= run.campaign.name %></td>
              <td class="hidden-xs"><%= run.runprintnumber %></td>
              <td class="hidden-xs hidden-sm"><%= run.status %></td>
              <td class="options col-xs-9 col-sm-3 col-md-2">
                  <div class="btn-group" id="btn-group">
                  <% if run.status != "to print" %>
                    <%= link_to newstatus_run_path(run), class: "btn btn-primary", method: :get do %><i class="fa fa-check" aria-hidden="true"></i><% end %>
                  <% else %>
                     <%= link_to campaign_run_path(run.campaign_id, run.id), class: "btn btn-primary", method: :get do %><i class="fa fa-arrow-right" aria-hidden="true"></i><% end %>
                   <% end %>
                   <%= link_to edit_campaign_run_path(run.campaign, run), class: "btn btn-success", id: "display", method: :get do %><i class="fa fa-pencil" aria-hidden="true"></i><% end %>
                   <%= link_to delete_run_path(run.id), class: "btn btn-danger", method: :get do %><i class="fa fa-trash-o" aria-hidden="true"></i><% end %>
                   <%= link_to campaign_run_path(run.campaign, run, format: "pdf"), class: "btn btn-primary", method: :get do %><i class="fa fa-download" aria-hidden="true"></i><% end %>                   
                  </div>
              </td>
            </tr>
            <% end %>
        </tbody>
    </table>

</div>
<%= render partial: "shared/partials/formfooter" %>
<%= render partial: "shared/links/runs_links" %>
<% else %>
<%= render partial: "shared/links/runs_links" %>
<% end %>